# TAS API Config
TAS_URL=https://example.com/api
TAS_CLIENT_KEY=consumer_key
TAS_CLIENT_SECRET=secret_key

# Your TAS/TACC username
TAS_USERNAME=username

# iPython Notebook Config
PASSWORD=pytas
USE_HTTP=1